<clr-stack-view>
    <clr-stack-header>poste</clr-stack-header>

        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>Id</clr-stack-label>
            <clr-stack-content>{{poste.id}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>title</clr-stack-label>
            <clr-stack-content>{{poste.title}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>description</clr-stack-label>
            <clr-stack-content>{{poste.Description}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>salary</clr-stack-label>
            <clr-stack-content>{{poste.salary}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>lieu</clr-stack-label>
            <clr-stack-content>{{poste.lieu}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>exigences</clr-stack-label>
            <clr-stack-content>{{poste.exigences}}</clr-stack-content>
        </clr-stack-block>
       
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>employmentType</clr-stack-label>
            <clr-stack-content>{{poste.employmentType}}</clr-stack-content>
        </clr-stack-block>
      
    

</clr-stack-view>
