<b style="font-size: 3em; color: rgb(0, 0, 0); margin: 10px;">Provider</b>
<br>
<br>
<div class="btn-group btn-primary">
    <button routerLink="add-fournisseur"  [disabled]="selectedProvider.length>0" class="btn">Add</button>
    <button routerLink="update-fournisseur/{{id}}" [disabled]="selectedProvider.length>1 || selectedProvider.length==0" class="btn btn-success">Modify</button>
    <button class="btn btn-danger" [disabled]="selectedProvider.length==0" (click)="showClick()">Delete</button>
  </div>


<clr-datagrid  [(clrDgSelected)]="selectedProvider"  (clrDgSelectedChange)="userSelect($event)">
    <clr-dg-column>Fournisseur ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Tel</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
  
    <clr-dg-row *ngFor="let fournisseur of fournisseurs" [clrDgItem]="fournisseur" >
    
      <clr-dg-cell>{{ fournisseur.id }}</clr-dg-cell>
      <clr-dg-cell>{{ fournisseur.name }}</clr-dg-cell>
      <clr-dg-cell>{{ fournisseur.tel }}</clr-dg-cell>
      <clr-dg-cell>{{ fournisseur.description }}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-detail *clrIfDetail="let detail">
        <clr-dg-detail-header> <b style=" color: rgb(60, 58, 230)">id</b>:{{ detail.id }}</clr-dg-detail-header>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">firstName</b>:{{ detail.firstName }}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">lastName</b> :{{ detail.lastName}}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">Email</b> :{{ detail.email }}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">Adress</b> :{{ detail.adress }}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">Telephone</b> :{{ detail.telephone }}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">createAt</b> :{{ detail.createAt }}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">updateAt</b> :{{ detail.updateAt }}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">Active</b> :{{ detail.isActive }}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">createBy</b> :{{ detail.createBy }}</clr-dg-detail-body>
        <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">updatedBy</b> :{{ detail.updatedBy }}</clr-dg-detail-body>
      </clr-dg-detail>
  
    <clr-dg-footer>{{ fournisseurs.length }} fournisseur</clr-dg-footer>
</clr-datagrid>
<app-delete-founisseur *ngIf="show" [idDel]="idList" (close)="onClose()" (save)="onSave()"></app-delete-founisseur>